
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron text-center">
            <h1 class=" text-center"><div class="text-warning fa fa-warning"></div></h1>
            <small class="text-warning"> خطا 403</small>
            <h2 class="text-center">شما دسترسی لازم را به این صفحه  ندارید!</h2>
            <small><p>یک متن راهنما برای کاربر که چرا به این صفحه اماده  است.</p></small>
            <br><br><br><br><br><br><br>
        </div>
    </div>
</div>
