
@{
    ViewBag.Title = "InternalServerError";
}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron text-center">
            <h1 class=" text-center"><div class="text-danger fa fa-warning"></div></h1>
            <small class="text-danger">خطا 500</small>
            <h2 class="text-center">خطایی در سرور اتفاق افتاده است. به زودی آن را درست خواهیم کرد</h2>
            <small><p>یک متن راهنما برای کاربر که چرا به این صفحه اماده  است.</p></small>
            <br><br><br><br><br><br><br>
        </div>
    </div>
</div>

