
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="jumbotron text-center">
            <h1 class=" text-center"><div class="text-info fa fa-warning"></div></h1>
            <small class="text-info">خطا 404</small>
            <h2 class="text-center">صفحه مورد نظر شما پیدا نشده است.</h2>
            <small><p>یک متن راهنما برای کاربر که چرا به این صفحه اماده  است.</p></small>
            <br><br><br><br><br><br><br>
        </div>
    </div>
</div>
