@using Decision.Common.Helpers
@model Decision.ViewModel.Role.AddRoleViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header  alert alert-success">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title">درج گروه کاربری</h5>
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm(MVC.Role.Create(), new AjaxOptions { HttpMethod = "POST", OnComplete = "createOnComplete(xhr, status, 'roleList', '#modal','createRoleForm','#createRoleButton')" }, new { @class = "form-horizontal", id = "createRoleForm", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                        <div class="col-md-9">
                            @Html.NoAutoCompleteTextBoxFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-2">
                            <button type="button" id="createRoleButton" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'createRoleForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-md">
                                ثبت گروه کاربری
                            </button>
                            <button class="btn btn-default btn-md" data-dismiss="modal" aria-hidden="true">
                                انصراف
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
     
    </div>
</div>
