@model SiteMapPathHelperModel
@using System.Web.Mvc.Html

<ol class="breadcrumb">
    @foreach (var node in Model)
    {
        if (node==Model.Last())
        {
            <li class="active">@Html.DisplayFor(m => node)</li>
        }
        else
        {
            <li>
                @Html.DisplayFor(m => node)
            </li>
        }

    }

</ol>