@using Decision.Common.HtmlHelpers

@{
    ViewBag.Title = "تنظیمات پایه";

}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @Html.HelpAlert(@Url.Content("~/Content/Images/lightbulb.png"),
                   "قسمت تنظیمات پایه برای نگه داری داد ه های لازم در بخش ها دیگر سیستم در نظر گرفته شده است.",
                   "کاربرانی که به بخشی هایی از این قسمت دسترسی داشته باشند ، خواهند توانست تغییرات لازم را بر روی داده ها اعمال کنند."
                  
           )
            </div>
        </div>

    </div>
</div>

@section Menu{
    @{Html.RenderPartial(MVC.Shared.Views._PublicSettingSideBarMenu);}
}



