@{
    ViewBag.Title = "پنل مدیریتی";
}
        @{Html.RenderAction(MVC.Home.GetBenckMarks());}

        <hr/>
        <div class="row">
            <div class="col-md-4 asyncLoad" id="TopScoreApplicants" data-load-url="@Url.Action(MVC.Home.GetTopScoreApplicants())" data-progress-div="progressOne">
                <div id="progressOne" align="center" style="display: none">
                    <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..." />
                </div>
            </div>

            <div class="col-md-4 asyncLoad" id="NewAddedApplicants" data-load-url="@Url.Action(MVC.Home.GetNewAddedApplicants())" data-progress-div="progressTwo">
                <div id="progressTwo" align="center" style="display: none">
                    <img src="@Url.Content("~/Content/images/loading.gif")" alt="loading..." />
                </div>
            </div>
        </div>
  