i.fa-star{ font-size: 1.4em;color: yellow !important;}


input, div.noty_buttons > button, .file-caption, select, button.search {
    height: 36px !important;
    padding: 3px 9px !important;
    line-height: 1.7 !important;
    -ms-border-radius: 2px !important;
    border-radius: 2px !important;
}

button ,a.btn{
    -ms-border-radius: 2px !important;
    border-radius: 2px !important;
}

.min-height-340 {
    min-height: 340px !important;
}




.tab-content {
    margin-top: 20px;
}


.margin-right-30 {
    margin-right: 30px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-right-50 {
    margin-right: -50px !important;
}

hr.margin-top-5 {
    margin-top: 5px !important;
}

hr.margin-top-0 {
    margin-top: 0 !important;
}

hr.margin-bottom-5 {
    margin-bottom: 5px !important;
}

button.width-90 {
    width: 90% !important;
}

.panel-footer.block {
    padding: 2px 5px !important;
}

.not-active {
    pointer-events: none;
    cursor: not-allowed;
}

.non-border {
    border: none !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.padding-5-5 {
    padding: 5px 5px !important;
}

i.fa.fa-lightbulb-o {
    color: #F1C40F !important;
}

.help-alert {
    background-color: #91D1FC !important;
    color: #1173B5 !important;
    font-size: 0.7em !important;
}

.alert > p + p {
    margin-top: -2Px !important;
}

.alert {
    -ms-border-radius: 1px !important;
    border-radius: 1px !important;
}

*[hidden] {
    display: none;
}

ul.nav-tabs li {
    font-size: 0.8em !important;
}



select.ui-datepicker-year, select.ui-datepicker-month {
    font-size: 0.8em !important;
}

/*#################  style.css  ############*/

li.main {
    font-size: 0.8em !important;
}

aside {
    font-size: 0.75em !important;
}

.fileinput-remove-button {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-right: -10px !important;
}


#ui-datepicker-div {
    font-family: "wYekan" !important;
}

.form-group .col-md-1 {
    padding-left: 0 !important;
}

p {
    font-size: 0.75em;
}

div#sidebar {
    font-weight: 500 !important;
}

ul.dl-menu.dl-menuopen {
    font-size: 0.85em !important;
}

li.margin-top-minus-35 {
    margin-top: -35px !important;
}

.margin-right-15 {
    margin-right: 15px;
}

.text-right-imp {
    text-align: right !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.list-group-item.active {
    background-color: #95a5a6;
    border-color:#95a5a6;
  
}
.list-group-item.active:hover {
    background-color:#95a5a6;
    border-color:#95a5a6;
}

ol.breadcrumb {
    font-size: 0.8em !important;
    margin-bottom: 0;
    margin-top: -10px;
}

.dl-menuwrapper>.dl-submenu {
    top:57px!important
}

ul.dl-menu.dl-menuopen.dl-subview ,ul.dl-menu.dl-menuopen,ul.dl-animate-in-1 {
    width: 215px !important;
}

.input-group {
    z-index: 0;
}

ul.dl-animate-in-1 ,ul.dl-submenu.dl-animate-out-1{
    font-size: 0.85em !important;
    border-radius: 4px;
}

ul.dl-submenu.dl-animate-in-1,ul.dl-submenu.dl-animate-out-1 {
    margin-left: -16px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.media.btn-lg {
    font-size: 1.0em !important;
    -ms-border-radius: 4px !important;
    border-radius: 4px !important;
}

.bench-marks .media .media-left {
    display: block !important;
}