<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.4.7" targetFramework="net45" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net45" />
  <package id="AttributeRouting.Core" version="3.5.6" targetFramework="net45" />
  <package id="AttributeRouting.Core.Web" version="3.5.6" targetFramework="net45" />
  <package id="CaptchaMvc.MVC5" version="1.5.0" targetFramework="net45" />
  <package id="DNT.Extensions" version="1.0.0" targetFramework="net45" />
  <package id="DNTProfiler.EntityFramework.Core" version="1.7.978.0" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Elmah.Mvc" version="2.1.2" targetFramework="net45" />
  <package id="ElmahEFLogger" version="1.0.2.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="EntityFramework.Extended" version="6.1.0.168" targetFramework="net45" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.ScaffolderTemplates.AttributeRouting.CSharp" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="MVC.ResumingActionResults" version="1.0.5181.42826" targetFramework="net45" />
  <package id="MvcScaffolding.VS2015" version="1.0.12" targetFramework="net45" />
  <package id="MvcSiteMapProvider.MVC5" version="4.6.19" targetFramework="net45" />
  <package id="MvcSiteMapProvider.MVC5.Core" version="4.6.19" targetFramework="net45" />
  <package id="MvcSiteMapProvider.Web" version="4.6.1" targetFramework="net45" />
  <package id="MvcTreeView" version="1.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Persia.NET" version="3.0.4727" targetFramework="net45" />
  <package id="PersianDateTime" version="1.1.5082.36395" targetFramework="net45" />
  <package id="RazorGenerator.Mvc" version="2.3.6" targetFramework="net45" />
  <package id="RazorGenerator.Templating" version="2.3.11" targetFramework="net45" />
  <package id="Respond" version="1.4.2" targetFramework="net45" />
  <package id="structuremap" version="3.1.6.186" targetFramework="net45" />
  <package id="structuremap.web" version="3.1.6.186" targetFramework="net45" />
  <package id="T4MVC" version="3.15.4" targetFramework="net45" />
  <package id="T4MVCExtensions" version="3.15.4" targetFramework="net45" />
  <package id="T4Scaffolding.Core.VS2015" version="1.0.1" targetFramework="net45" />
  <package id="T4Scaffolding.VS2015" version="1.0.8" targetFramework="net45" />
  <package id="Twitter.BootstrapRTL" version="3.1.1" targetFramework="net45" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.6" targetFramework="net45" />
  <package id="WebGrease" version="1.6.0" targetFramework="net45" />
</packages>